@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}