button{
    background-color: transparent;
    border: none;
}
.header{
    padding: 9px 22px 15px 22px;
    display: flex;
    align-items: baseline;
    background-color: #fff;
    &__list{
        margin-left: auto;
        display: flex;
        align-items: baseline;
        &-item:not(:last-child){
            margin-right: 19px;
        }
    }
    &__btn{
        padding: 6px 18px 10px 18px;
        border: 1px solid transparent;
    }
    &__btn:hover{
        border: 1px solid #52C41A;
        border-radius: 5px;
        color: #52C41A;
    }
   
}
