button{
    background-color: transparent;
    border: none;
}
.header{
    padding: 9px 22px 15px 22px;
    display: flex;
    align-items: baseline;
    background-color: #fff;
    &__list{
        margin-left: auto;
        display: flex;
        align-items: baseline;
        &-item:not(:last-child){
            margin-right: 19px;
        }
    }
}
.logo{
    margin-right: auto;
}
